$cGreen:#53D4AD;
$cBlack:#1F2C43;
$cBlack_l: #1F2C434D;/*グレーアウト,LINE*/
$cWhite:#FFF;
$cCursor:#53d4ad48;
$cGray:#EBEBEB;/*ページネーション*/
$cBtn:#F5F5F5;/*NEWSボタンの淵*/
$cOverlay:#1F2C4366;/*トップkvカバー*/
$cShadow:rgba(0, 0, 0, 0.18);
$cOverlay_2:rgba(86, 199, 227, 0.45);/*下層kvカバー*/
$cOrange:#FD7B3E;